html, body{
	position: relative;
	height: 100vh;
	font-family: sans-serif;
	font-weight: bold;
	/* overflow: hidden; */
}

.spaces {
	width: 25px;
	height: 25px;
	border: 1px solid black;
	display: -webkit-inline-box;
	text-align: -webkit-center;
}

.space-item {
	font-size: 11px;
}

.process-color {
	width: 15px;
	height: 15px;
	border: 1px solid black;
	display: -webkit-inline-box;
	text-align: -webkit-center;
}

.wrapper {
	width: 100vw;
	display: -webkit-box;
}
.console {
	background-color: rgba(0, 0, 0, 0.9);
	width: 50%;
	height: 300px;
	margin: 0;
	position: relative;
	font-size: 12px;
}

.data {
	width: 50%;
	padding: 10px;
}

.console-input:focus {
	outline: none;
}
.console-input {
	width: 100%;
	background-color: transparent;
	color: #fff;	
	/* border: none; */
	position: absolute;
	right: -3px;
	bottom: 0;
	height: 25px;
	font-size: 12px;
}

.history {
	max-height: 170px;
	overflow: auto;
}

.history-item {
	color: #fff;
}